// polynomial equations
$sqrt2: 1.41421356237;
$sqrt3: 1.73205080757;
$sqrt5: 2.2360679775;
$sqrt5p2sqrt5: 3.07768353;
$edgeSize: 50px;
$polyWidth: $edgeSize * 2;
$octaHeight: ($sqrt2 + 1) * $edgeSize;
$hexaHeight: $sqrt3 * $edgeSize;
$decaHeight: $sqrt5p2sqrt5 * $edgeSize;

// Display
$borderHover: 10px;
$soft-white: rgba(255, 255, 255, 1);

// Easing
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

$glow-size: 50px;
$glow-brightness: 20px;
$glow-color: rgba(45, 255, 196, 0.55);

$icon-color: $soft-white;

$bg-color: rgb(14, 17, 17);
$dot-color: rgb(65, 74, 76);

$dot-size: 1px;
$dot-space: 10px;

#starting_point {
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 50%;
  left: 10px;
  height: 40px;
  width: 40px;
  background-color: $dot-color;
  border-radius: 50%;
}

.courses {
  width: 10000px;
  min-height: 100vh;
  max-height: 100vh;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}

.button {
  z-index: 100;
  position: absolute;

  span {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s $ease-out-expo;
    font-size: 2rem;
    color: $icon-color;
  }

  .glow {
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-box-shadow: 0px 0px $glow-size $glow-brightness $glow-color;
    -moz-box-shadow: 0px 0px $glow-size $glow-brightness $glow-color;
    box-shadow: 0px 0px $glow-size $glow-brightness $glow-color;
  }
}

.button {
  cursor: pointer;
  width: $polyWidth;
  transform: translate3d(-50%, -50%, 0);

  &.Hexagon {
    height: $hexaHeight;
  }

  &.Octagon {
    height: $octaHeight;
  }

  &.Decagon {
    height: $decaHeight;
  }

  &.active {
    .glow {
      animation: glow 7s linear infinite;
      display: block;
    }

    &:hover {
      .polygon:nth-child(4) {
        transition: all 2s $ease-out-expo;
        transform: scale(1.5) rotate(90deg);
      }
      .polygon:nth-child(3) {
        transition: all 2s $ease-out-expo;
        transform: scale(1.4) rotate(60deg);
      }
      .polygon:nth-child(2) {
        transition: all 2s $ease-out-expo;
        transform: scale(1.3) rotate(30deg);
      }
      .polygon:nth-child(1) {
        transition: all 2s $ease-out-expo;
        opacity: 1;

        div:before,
        div:after {
          transition: all 2s $ease-out-expo;
          height: $borderHover;
        }

        transform: scale(1.2);
      }
      span {
        transition: all 2s $ease-out-expo;
        transform: scale(1.2);
      }
    }
  }

  &.done {
    // Hover state
    &:hover {
      .polygon:nth-child(4) {
        transition: all 2s $ease-out-expo;
        transform: scale(1.5);
      }
      .polygon:nth-child(3) {
        transition: all 2s $ease-out-expo;
        transform: scale(1.4);
      }
      .polygon:nth-child(2) {
        transition: all 2s $ease-out-expo;
        transform: scale(1.3);
      }
      .polygon:nth-child(1) {
        transition: all 2s $ease-out-expo;
        opacity: 1;

        div:before,
        div:after {
          transition: all 2s $ease-out-expo;
          height: $borderHover;
        }

        transform: scale(1.2);
      }
      span {
        transition: all 2s $ease-out-expo;
        transform: scale(1.2);
      }
    }
  }

  &.upcoming {
    // Hover state
    &:hover {
      .polygon:nth-child(4) {
        transition: all 2s $ease-out-expo;
        transform: scale(1.1);
      }
      .polygon:nth-child(3) {
        transition: all 2s $ease-out-expo;
        transform: scale(1);
      }
      .polygon:nth-child(2) {
        transition: all 2s $ease-out-expo;
        transform: scale(0.9);
      }
      .polygon:nth-child(1) {
        transition: all 2s $ease-out-expo;
        opacity: 1;

        div:before,
        div:after {
          transition: all 2s $ease-out-expo;
          height: $borderHover;
        }

        transform: scale(0.7);
      }
      span {
        transition: all 2s $ease-out-expo;
        transform: scale(0.7);
      }
    }
  }
}

.polygon {
  position: absolute;
  left: $edgeSize/2;
  width: $edgeSize;
  opacity: 0.5;

  // Inset
  &:nth-child(1) {
    transition: all 2s $ease-out-quart;
    transform: scale(0.9);
    z-index: 96;
  }

  // Outset
  &:nth-child(2) {
    transition: all 2s $ease-out-expo;
    transform: scale(1.1);
    z-index: 97;
  }

  &:nth-child(3) {
    transition: all 2s $ease-out-expo;
    transform: scale(1.2);
    z-index: 98;
  }

  &:nth-child(4) {
    transition: all 2s $ease-out-expo;
    transform: scale(1.3);
    z-index: 99;
  }

  div {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: $edgeSize;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background: $soft-white;
      width: 100%;
      height: 1px;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }

    transform-origin: center center;
  }
}

.deca {
  @extend .polygon;

  height: $decaHeight;

  div {
    height: $decaHeight;
  }

  div:nth-child(2) {
    transform: rotate(36deg);
  }
  div:nth-child(3) {
    transform: rotate(72deg);
  }
  div:nth-child(4) {
    transform: rotate(-36deg);
  }
  div:nth-child(5) {
    transform: rotate(-72deg);
  }
}

.octa {
  @extend .polygon;

  height: $octaHeight;

  div {
    height: $octaHeight;
  }

  div:nth-child(2) {
    transform: rotate(45deg);
  }
  div:nth-child(3) {
    transform: rotate(90deg);
  }
  div:nth-child(4) {
    transform: rotate(-45deg);
  }
}

.hexa {
  @extend .polygon;

  height: $hexaHeight;

  div {
    height: $hexaHeight;
  }

  div:nth-child(2) {
    transform: rotate(-60deg);
  }
  div:nth-child(3) {
    transform: rotate(60deg);
  }
}

@keyframes glow {
  0% {
    -webkit-box-shadow: 0px 0px $glow-size $glow-brightness
      rgba(45, 255, 196, 0.55);
    -moz-box-shadow: 0px 0px $glow-size $glow-brightness
      rgba(45, 255, 196, 0.55);
    box-shadow: 0px 0px $glow-size $glow-brightness rgba(45, 255, 196, 0.55);
  }
  50% {
    -webkit-box-shadow: 0px 0px $glow-size + 50 $glow-brightness + 25
      $glow-color;
    -moz-box-shadow: 0px 0px $glow-size + 50 $glow-brightness + 25 $glow-color;
    box-shadow: 0px 0px $glow-size + 50 $glow-brightness + 25 $glow-color;
  }
}
